.buttonRow {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
    background-color: rgb(196, 182, 182);
    padding: 20px;
}


.menuButton {
    color: black;
    text-decoration: none;
    font-size: 30px;
    background-color: #fff7cdba;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items:flex-end;
    background-color: rgb(130, 135, 133);
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:#ffffff;
    font-family: 'Times New Roman', Times, serif; 
    overflow:auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
    display: none;
}
